@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  --color-off-black: #8daace;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-btn: rgb(190, 61, 42);
  --color-sec-btn: rgb(17, 117, 84);
  --color-sale: #0fd46c;
  --color-blue: #dbedee;
  --color-gray: #f3f2ef;
}

body {
  font-family: "Rubik", sans-serif !important;
  color: var(--color-black);
  overflow-x: hidden;
}

.rubik {
  font-family: "Rubik", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .container {
  border: 1px solid red;
} */

/* NAVBAR */
.navbar {
  width: 70vw;
  transform: translateX(-50%);
  left: 50%;
  border-radius: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.35);
}

.navbar-nav {
  width: 100%;
  justify-content: space-between;
}

.nav-item {
  font-weight: 700;
  font-size: 1em;
}

.nav-item a {
  padding: 1rem 2rem !important;
}

.nav-item:last-child a {
  background-color: var(--color-sec-btn);
  border-radius: 30px;
  color: rgb(255, 255, 255) !important;
}

.navbar-toggler:focus {
  box-shadow: unset !important;
}

@media (max-width: 991px) {
  .navbar {
    width: 95%;
  }

  .navbar-nav {
    width: 100%;
    align-items: flex-start;
    padding: 0;
  }

  .nav-item {
    width: 100%;
  }

  .nav-item a {
    padding: 1rem 0 !important;
  }

  .nav-item:last-child a {
    width: inherit;
    margin: 2rem 0 0 0;
    background-color: var(--color-sec-btn);
    border-radius: 30px;
    text-align: center;
    color: rgb(255, 255, 255) !important;
  }
}

/* HERO */

#hero {
  height: 100vh;

  background: url(assets/yellow-diagonal-geometric-striped-background-with-halftone-detailed_1409-1451.avif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #ffdf30;
}

.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.heroTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.heroTop img {
  width: 100%;
  border-radius: 10% 64% 10% 68% / 37% 36% 35% 36%;
}

.heroRight {
  width: 40%;
}

.loader {
  color: black;
  font-weight: 500;
  font-size: 25px;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 8px;
}

.words {
  overflow: hidden;
  position: relative;
}
.words::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    var(--bg-color) 10%,
    transparent 30%,
    transparent 70%,
    var(--bg-color) 90%
  );
  z-index: 20;
}

.word {
  display: block;
  height: 100%;
  padding-left: 6px;
  color: var(--color-sec-btn);
  animation: spin_4991 10s infinite;
}

@keyframes spin_4991 {
  10% {
    -webkit-transform: translateY(-102%);
    transform: translateY(-102%);
  }

  25% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  35% {
    -webkit-transform: translateY(-202%);
    transform: translateY(-202%);
  }

  50% {
    -webkit-transform: translateY(-200%);
    transform: translateY(-200%);
  }

  60% {
    -webkit-transform: translateY(-302%);
    transform: translateY(-302%);
  }

  75% {
    -webkit-transform: translateY(-300%);
    transform: translateY(-300%);
  }

  85% {
    -webkit-transform: translateY(-402%);
    transform: translateY(-402%);
  }

  100% {
    -webkit-transform: translateY(-400%);
    transform: translateY(-400%);
  }
}

.heroLeft button {
  padding: 0.8rem 2rem;
  background-color: var(--color-sec-btn);
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 15px;
  margin-top: 1rem;
}

.heroLeft button i {
  margin-left: 0.5rem;
  transition: all 0.5s ease;
}

.heroLeft button:hover i {
  margin-left: 0.8rem;
}

.heroBottom {
  margin-top: -5rem;
}

.hBUp img {
  width: 60px;
  margin-left: -1rem;
  animation-name: updown;
  animation-duration: 2s;
  animation-iteration-count: reverse;
}

.hBUp img:nth-child(2) {
  animation-delay: 2s;
}

.hBUp img:nth-child(3) {
  animation-delay: 4s;
}

.hBUp img:nth-child(4) {
  animation-delay: 6s;
}

.hBUp img:last-child {
  animation-delay: 8s;
}

@keyframes updown {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

.heroSocials {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
  z-index: 10;
}

.heroSocials .icons {
  margin-right: -1rem;
  display: inline-block;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  text-align: center;
  height: 55px;
  width: 55px;
  line-height: 55px;
  z-index: 100;
  overflow: hidden;
  transition: all 0.5s ease-out;
}

.icons i {
  display: inline-block;
  height: 55px;
  width: 55px;
  font-size: 18px;
  border-radius: 15px;
  line-height: 55px;
  text-align: center;
}

.icons:hover {
  width: 200px;
  text-align: left;
}

.icons0:hover i {
  background-color: #106bff;
  color: white;
}

.icons0:hover span {
  color: #106bff;
}

.icons1:hover i {
  background-color: black;
  color: white;
}

.icons1:hover span {
  color: black;
}

.icons2:hover i {
  background-color: #4d269c;
  color: white;
}

.icons2:hover span {
  color: #4d269c;
}

.icons3:hover i {
  background-color: #7b2e8a;
  color: white;
}

.icons3:hover span {
  color: #7b2e8a;
}

.icons4:hover i {
  background-color: #080808;
  color: white;
}

.icons4:hover span {
  color: #080808;
}

.heroSocials span {
  font-size: 18px;
  line-height: 55px;
  margin-left: 15px;
  font-weight: 600;
}

.waves {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.waves svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 80px;
}

.waves .shape-fill {
  fill: #ffffff;
}
