@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  --color-off-black: #8daace;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-primary: #ffdf31;
  --color-btn: rgb(190, 61, 42);
  --color-sec-btn: rgb(17, 117, 84);
  --color-sale: #0fd46c;
  --color-blue: #dbedee;
  --color-gray: #f3f2ef;
}



body {
  font-family: "Rubik", sans-serif !important;
  color: var(--color-black);
  overflow-x: hidden;
}

.rubik {
  font-family: "Rubik", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .container {
  border: 1px solid red;
} */

/* NAVBAR */
.navbar {
  width: 80vw;
  transform: translateX(-50%);
  left: 50%;
  border-radius: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.35);
  padding: 1rem 2rem !important;
}

.navbar-nav {
  width: 100%;
  justify-content: space-between;
}

.nav-item {
  font-weight: 700;
  font-size: 1em;
}

.nav-item a {
  padding: 1rem 2rem !important;
}

.nav-item:last-child a {
  background-color: var(--color-sec-btn);
  border-radius: 30px;
  color: rgb(255, 255, 255) !important;
}

.navbar-toggler:focus {
  box-shadow: unset !important;
}

@media (max-width: 1200px) {
  .navbar {
    width: 95%;
    padding: 0.5rem 1rem !important;
    border-radius: 20px;
  }

  .navbar-nav {
    width: 100%;
    align-items: flex-start;
    padding: 0;
  }

  .nav-item {
    width: 100%;
  }

  .nav-item a {
    padding: 1rem 0 !important;
  }

  .nav-item:last-child a {
    width: inherit;
    margin: 2rem 0 0 0;
    background-color: var(--color-sec-btn);
    border-radius: 30px;
    text-align: center;
    color: rgb(255, 255, 255) !important;
  }
}

/* HERO */

#hero {
  /* background: url(assets/yellow-diagonal-geometric-striped-background-with-halftone-detailed_1409-1451.avif); */
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 7rem;
  background-size: cover;
  background: #ffdf31;
  background: linear-gradient(
    180deg,
    rgba(255, 223, 49, 1) 0%,
    rgba(252, 242, 177, 1) 63%,
    rgba(255, 255, 255, 1) 100%
  );
  position: relative;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.heroTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.heroTop img {
  width: 100%;
  border-radius: 10% 64% 10% 68% / 37% 36% 35% 36%;
}

.heroRight {
  width: 40%;
}

/* SLIDING UP  ANIMATION */

.loader {
  color: black;
  font-weight: 500;
  font-size: 25px;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 8px;
}

.words {
  overflow: hidden;
  position: relative;
}
.words::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    var(--bg-color) 10%,
    transparent 30%,
    transparent 70%,
    var(--bg-color) 90%
  );
  z-index: 20;
}

.word {
  display: block;
  height: 100%;
  padding-left: 6px;
  color: var(--color-sec-btn);
  animation: spin_4991 10s infinite;
}

@keyframes spin_4991 {
  10% {
    -webkit-transform: translateY(-102%);
    transform: translateY(-102%);
  }

  25% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  35% {
    -webkit-transform: translateY(-202%);
    transform: translateY(-202%);
  }

  50% {
    -webkit-transform: translateY(-200%);
    transform: translateY(-200%);
  }

  60% {
    -webkit-transform: translateY(-302%);
    transform: translateY(-302%);
  }

  75% {
    -webkit-transform: translateY(-300%);
    transform: translateY(-300%);
  }

  85% {
    -webkit-transform: translateY(-402%);
    transform: translateY(-402%);
  }

  100% {
    -webkit-transform: translateY(-400%);
    transform: translateY(-400%);
  }
}

/* SLIDING UP ANIMATION ENDS */

.heroLeft button {
  padding: 0.8rem 2rem;
  background-color: var(--color-sec-btn);
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 15px;
  margin-top: 1rem;
}

.heroLeft p {
  margin: 0;
}

.heroLeft button i {
  margin-left: 0.5rem;
  transition: all 0.5s ease;
}

.heroLeft button:hover i {
  margin-left: 0.8rem;
}

.heroBottom {
  margin-top: -5rem;
}

.hBUp img {
  width: 60px;
  margin-left: -1rem;
  animation-name: updown;
  animation-duration: 2s;
}

.hBUp img:nth-child(2) {
  animation-delay: 2s;
}

.hBUp img:nth-child(3) {
  animation-delay: 4s;
}

.hBUp img:nth-child(4) {
  animation-delay: 6s;
}

.hBUp img:last-child {
  animation-delay: 8s;
}

@keyframes updown {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

.heroSocials {
  margin-top: -1rem;
  margin-bottom: 2rem;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
  z-index: 10;
}

.heroSocials .icons {
  margin-right: -1rem;
  display: inline-block;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  text-align: center;
  height: 55px;
  width: 55px;
  line-height: 55px;
  z-index: 100;
  overflow: hidden;
  transition: all 0.5s ease-out;
}

.icons i {
  display: inline-block;
  height: 55px;
  width: 55px;
  font-size: 18px;
  border-radius: 15px;
  line-height: 55px;
  text-align: center;
}

.icons:hover {
  width: 200px;
  text-align: left;
}

.icons0:hover i {
  background-color: #106bff;
  color: white;
}

.icons0:hover span {
  color: #106bff;
}

.icons1:hover i {
  background-color: black;
  color: white;
}

.icons1:hover span {
  color: black;
}

.icons2:hover i {
  background-color: #4d269c;
  color: white;
}

.icons2:hover span {
  color: #4d269c;
}

.icons3:hover i {
  background-color: #7b2e8a;
  color: white;
}

.icons3:hover span {
  color: #7b2e8a;
}

.icons4:hover i {
  background-color: #080808;
  color: white;
}

.icons4:hover span {
  color: #080808;
}

.heroSocials span {
  font-size: 18px;
  line-height: 55px;
  margin-left: 15px;
  font-weight: 600;
}

.waves {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.waves svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 80px;
}

.waves .shape-fill {
  fill: #ffffff;
}

@media (max-width: 991px) {
  .hero {
    flex-direction: column;
  }

  .heroTop {
    flex-direction: column;
    margin-top: 2rem;
  }

  .heroLeft {
    text-align: center;
  }

  .heroLeft .lead {
    margin: 0.5rem 0;
  }

  .heroLeft .display-3 {
    line-height: 46px !important;
  }

  .loader {
    font-size: 14px;
    font-weight: 800;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
  }

  .word {
    padding-left: 0;
  }

  .heroBottom {
    margin-top: 3rem;
  }

  .heroSocials {
    justify-content: center;
    margin-top: 1rem;
  }
}

/* WHO WE ARE */

#wwa {
  padding: 2rem 0;
  /* background: #ffffff;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(150, 150, 150, 1) 39%,
    rgba(162, 162, 162, 1) 67%,
    rgba(255, 255, 255, 1) 78%
  ); */
}

.wwaCards {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.wwaHead {
  text-align: center;
  margin-bottom: 3rem;
}

.wwa .wrapper {
  /* border: 2px solid black; */
  margin-top: 1rem;
  margin-bottom: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 80px;
  overflow: hidden;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0)
  );
}

.item {
  width: 150px;
  height: 150px;
  border-radius: 6px;
  position: absolute;
  left: max(calc(200px * 7), 100%);
  animation-name: scrollLeft;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.item0 {
  width: 150px;
  height: 150px;
  border-radius: 6px;
  position: absolute;
  right: max(calc(200px * 7), 100%);
  animation-name: scrollRight;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.wwaEmployers .wrapper img {
  width: 100%;
  height: 100%;
  filter: grayscale(100%);
}

@keyframes scrollLeft {
  100% {
    left: -200px;
  }
}

@keyframes scrollRight {
  100% {
    right: -200px;
  }
}

.item1 {
  animation-delay: calc(30s / 7 * (7 - 1) * -1);
}
.item2 {
  animation-delay: calc(30s / 7 * (7 - 2) * -1);
}
.item3 {
  animation-delay: calc(30s / 7 * (7 - 3) * -1);
}
.item4 {
  animation-delay: calc(30s / 7 * (7 - 4) * -1);
}
.item5 {
  animation-delay: calc(30s / 7 * (7 - 5) * -1);
  height: fit-content;
}
.item6 {
  animation-delay: calc(30s / 7 * (7 - 6) * -1);
  height: fit-content;
}
.item7 {
  animation-delay: calc(30s / 7 * (7 - 7) * -1);
  height: fit-content;
}

.item10 {
  animation-delay: calc(30s / 7 * (7 - 1) * -1);
}
.item20 {
  animation-delay: calc(30s / 7 * (7 - 2) * -1);
}
.item30 {
  animation-delay: calc(30s / 7 * (7 - 3) * -1);
}
.item40 {
  animation-delay: calc(30s / 7 * (7 - 4) * -1);
}
.item50 {
  animation-delay: calc(30s / 7 * (7 - 5) * -1);
  height: fit-content;
}
.item60 {
  animation-delay: calc(30s / 7 * (7 - 6) * -1);
  height: fit-content;
}
.item70 {
  animation-delay: calc(30s / 7 * (7 - 7) * -1);
  height: fit-content;
}

.topWCards {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
  text-align: left;
}
.bottomWCards {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}

.wwaC {
  background-color: blue;
  height: 300px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(15px);
  background-color: rgba(255, 255, 255, 0.55);
  font-size: 20px;
  border-radius: 15px;
  padding: 3rem 4rem;

  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wwaC h2 {
  position: absolute;
  right: 30px;
  bottom: 1rem;
  color: rgba(0, 0, 0, 0.09);
}

.bottomWCards .wwaC p {
  font-size: 15px;
}

.bottomWCards .wwaC {
  font-weight: 600;
  padding: 2rem;
  background: url(assets/xxm.webp);
  background-size: 200px;
  background-repeat: no-repeat;
  background-position: 300px;
}

.bottomWCards .wwaC:nth-child(2) {
  background: url(assets/axm\(2\).webp);
  background-size: 200px;
  background-repeat: no-repeat;
  background-position: 300px;
}

.bottomWCards .wwaC:last-child {
  background: url(assets/axm\(3\).webp);
  background-size: 200px;
  background-repeat: no-repeat;
  background-position: 300px;
}

.bottomWCards img {
  width: 50px;
  position: absolute;
  bottom: 10px;
  right: 30px;
}

.bottomWCards .wwaC:hover {
  background: #ffdf31;
  background: linear-gradient(
    180deg,
    rgba(255, 223, 49, 1) 0%,
    rgba(252, 242, 177, 1) 63%,
    rgba(255, 255, 255, 1) 100%
  );
}

.theNumbers {
  width: 65%;
  background: url(assets/xm\(2\).webp);
  background-position: left;
  margin: 0 auto;
  background-size: auto;
  background-repeat: no-repeat;
  background-color: #0f192d;
  color: white;
  padding: 2rem 0;
  border-radius: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
}

.tNDetails {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  padding: 0 4rem;
  text-align: center;
}

/* TESTIMONIALS */
#testimonials {
  width: 100%;
  background: #ffffff;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(222, 222, 222, 1) 47%,
    rgba(255, 255, 255, 1) 100%
  );
  padding: 4rem 0;
  margin-top: 4rem;
}

.testimonials {
  max-width: 900px;
  margin: 0 auto;
}

.thumbnail {
  width: 200px;
  height: 200px;
  position: relative;
  flex-shrink: 0;
}

.thumbnail img {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  overflow: hidden;
}

.thumbnail::before {
  content: "";
  width: calc(100% + 30px);
  height: calc(100% + 10px);
  background-color: var(--color-sec-btn);
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 50%;
  transition: border-radius 0.5s 0.3s;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.25);
}

.swiper-slide-active .thumbnail::before {
  border-radius: 33% 67% 50% 50% / 50% 14% 86% 50%;
}

.thumbnail img {
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  transform: scale(2);
  transition: transform 0.5s;
}

.swiper-slide-active .thumbnail img {
  transform: scale(1);
}

/* .onTheSide {
  width: 150px;
} */

.tHead {
  text-align: center;
}

.tAside li {
  list-style: none;
}

.tAside .wrapper {
  display: flex;
  padding: 2rem;
  gap: 5rem;
  align-items: center;
}

.onTheSide > p {
  position: relative;
}

.onTheSide > p::before,
.onTheSide > p::after {
  content: "";
  font-family: sans-serif;
  font-size: 50px;
  font-weight: 800;
  position: absolute;
  color: rgb(214, 214, 214);
}

.onTheSide > p::before {
  content: open-quote;
  top: -50px;
}

.onTheSide > p::after {
  content: close-quote;
  right: 70px;
}

.testimonials :is(.swiper-button-prev, .swiper-button-next) {
  background-color: rgb(214, 214, 214);
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.testimonials :is(.swiper-button-prev, .swiper-button-next)::after {
  font-size: 16px;
  font-weight: 800;
  color: var(--color-white);
}

.testimonials :is(.swiper-button-prev, .swiper-button-next):hover {
  background-color: var(--color-sec-btn);
}

.swiper-pagination {
  position: relative;
}

.swiper-pagination span {
  background-color: rgb(214, 214, 214);
  transition: width 0.3s;
  opacity: 1;
}

.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 26px;
  background-color: var(--color-sec-btn);
  border-radius: 4px;
}

.faq {
  margin: 0 auto;
  width: 60%;
}

@media (max-width: 1028px) {
  .faq {
    width: 90%;
  }

  .faqHead {
    text-align: center;
  }
}

#footer {
  background: #000000;
  padding: 3rem 0;
  position: relative;
}

.footer {
  width: 90%;
  margin: 0 auto;
}

.footerHead {
  width: 100%;
  position: relative;
}

.footerHead h1 {
  font-size: 250px;
  text-align: center;
  font-weight: 800;
  line-height: 1;
  color: #ffdf31;
  opacity: 0.3;
  transition: 5s ease;
}

.light {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 250px;
  background: radial-gradient(
    circle at var(--x) var(--y),
    transparent 10%,
    rgba(0, 0, 0, 0.75) 30%
  );
}

.footerTail {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  color: white;
}

.footerTail img {
  width: 50px;
  border-radius: 50%;
}

.footerTail .yelo {
  display: flex;
  align-items: center;
  gap: 1rem ;
}

.fTRLinks a{
  color: rgb(194, 192, 192);
  font-size: 22px;
  margin-right: 1rem;
}




/* ABOUT PAGE  */
/* ABOUT PAGE  */
/* ABOUT PAGE  */
/* ABOUT PAGE  */


/* ABOUT HEAD */

#about {
  width: 100vw;
}

/* .about {
  padding-top: 7rem;
} */

.aboutTopContainer {
    background: url(assets/10002.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(100%);

  height: 30vh;
  width: 100vw;
    position: relative;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

}

.aboutTop {
  position: relative;
  padding-top: 7rem;
  text-align: center;
  /* border: 2px solid green; */
}

.aboutTopContainer::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: blue;
  opacity: .8;
  z-index: -1;
}

.aboutTop h3 {
    font-weight: 800;
  font-size: 60px;

}

.about {
  margin: 3rem 0;
}

.introToppest {
  display: flex;
  align-items: center;
  gap: 1rem ;
  margin-bottom: 2rem;
  font-size: 12px ;
  border-radius: 2rem;
  width: max-content;
  padding: .4rem;
  box-shadow: 1px 4px 5px rgba(0, 0, 0, 0.5);
}

.introToppest .miniCircle {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--color-sec-btn);
}

.introHeader {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 2rem;
  margin: 2rem 0;
}

.introz h3 {
  font-size: 60px;
  font-weight: 800;
}

.introCards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.introCards .cardz {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.introCards .cardz img {
  width: 80px;
}

.introCards .cardWriteup {
  width: 250px;
}


/* PHOTOVIDEO */

.bothPV {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5rem 0;
}

.bothPV .video {
  width: 40%;
  margin-left: -18rem;
}

.bothPV .picture img {
  width: 100%;
}
.bothPV .picture {
  width: 65%;
} 

.bothPV .video {
  height: 400px;
  background: url(assets/abouti\ \(1\).jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
      border-radius: 30px;
        border: 4px solid white;


}

.bothPV img {
    border-radius: 10px;

}
